{% extends 'master/base.html' %}


{% block content %}
<a class="btn btn-primary" href="{% url 'add_product' %}">Add product</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Image</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
        <th scope="col">Created by</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
      {% for data in product_data %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td scope="row">
          <img src="{{data.product_img.url}}" width="100p" alt="Product Image">
        </td>
        <td scope="row">{{data.title}}</td>
        <td scope="row">{{data.description}}</td>
        <td scope="row">{{data.price}}</td>
        <td scope="row">{{data.qty}}</td>
        <td scope="row">{{data.total_amount}}</td>
        <td scope="row">{{data.created_at}}</td>
        <td scope="row">{{data.updated_at}}</td>
        <td scope="row">{{data.created_by}}</td>
        <td>
          <a class="badge bg-primary" href="{% url 'edit_product' data.id %}">Edit</a>
          <a class="badge bg-primary" href="{% url 'view_product' data.id %}">View</a>
          <a class="badge bg-primary" href="{% url 'delete_product' data.id %}">Delete</a>
        </td>
        
        
      </tr>
      {% endfor %}
        
      
    </tbody>
  </table>
{% endblock content %}
    