{% extends 'master/base.html' %}

{% block content %}
<a class="btn btn-primary my-3" href="{% url 'add_product' %}">Add Product</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Qty</th>
        <th scope="col">Total  Amount</th>
        <th scope="col">Product Category</th>
        <th scope="col">Product Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in product_data %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ data.product_name }}</td>
          <td>{{ data.product_description }}</td>
          <td>{{ data.product_price }}</td>
          <td>{{ data.product_qty }}</td>
          <td>{{ data.total_amount }}</td>
          <td>{{ data.product_cat }}</td>
          <td>
            {% if data.product_img %}
              <img src="{{ data.product_img.url }}" width="100px" alt="product img" />
            {% else %}
              No Image
            {% endif %}
          </td>
          <td><a href="{% url 'edit_product' data.id %}" class="btn btn-warning">Edit</a></td>
          <td><a href="{% url 'view_product' data.id %}" class="btn btn-info">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
